<?xml version="1.0" ?>
<robot name="robot_description" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!--
        GAZEBO MACROS
    -->
    <!--
        Define Gazebo specific macro's here because this file isn't included if we're not running
        Gazebo
    -->
    <xacro:macro name="gazebo_reference_link_wheel" params="name">
        <gazebo reference="link_wheel_${name}">
            <mu1>0.9</mu1>
            <mu2>0.9</mu2>
            <kp>500000.0</kp>
            <kd>10.0</kd>
            <minDepth>0.001</minDepth>
            <maxVel>0.1</maxVel>
            <fdir1>1 0 0</fdir1>
            <selfCollide>true</selfCollide>
        </gazebo>
    </xacro:macro>

    <gazebo reference="intel_realsense">
        <sensor name="intel_realsense_depth" type="depth">
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <pose>0 0 0 0 0 -1.57</pose>
            <topic>intel_realsense</topic>
            <camera name="realsense_depth_camera">
                <horizontal_fov>1.02974</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>720</height>
                </image>
                <clip>
                    <near>0.02</near>
                    <far>20</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin
                filename="libignition-gazebo-sensors-system.so"
                name="ignition::gazebo::systems::Sensors">
                <render_engine>ogre2</render_engine>
            </plugin>
        </sensor>

    </gazebo>

    <gazebo reference="imu_sensor_link">
        <gravity>true</gravity>
        <sensor name='imu_sensor' type='imu'>
            <ignition_frame_id>/imu_sensor_link</ignition_frame_id>
            <always_on>1</always_on>
            <update_rate>100</update_rate>
            <bodyName>imu_sensor_link</bodyName>
            <visualize>true</visualize>
            <!-- <topic>imu</topic> -->
            <plugin
                filename="libignition-gazebo-imu-system.so"
                name="ignition::gazebo::systems::Imu">
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!--
        GAZEBO
    -->
    <xacro:gazebo_reference_link_wheel name="front_left_wheel" />
    <xacro:gazebo_reference_link_wheel name="rear_left_wheel" />
    <xacro:gazebo_reference_link_wheel name="rear_right_wheel" />
    <xacro:gazebo_reference_link_wheel name="front_right_wheel" />

    <gazebo>
        <plugin
                filename="gz_ros2_control-system"
                name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find robot_description)/config/rover.yaml</parameters>
        </plugin>
    </gazebo>
    <gazebo>
         <plugin
                filename="libignition-gazebo-pose-publisher-system.so"
                name="ignition::gazebo::systems::PosePublisher">
            <publish_link_pose>true</publish_link_pose>
            <publish_sensor_pose>true</publish_sensor_pose>
            <publish_collision_pose>false</publish_collision_pose>
            <publish_visual_pose>false</publish_visual_pose>
            <publish_model_pose>true</publish_model_pose>
            <publish_nested_model_pose>true</publish_nested_model_pose>
            <use_pose_vector_msg>true</use_pose_vector_msg>
            <static_publisher>true</static_publisher>
            <static_update_frequency>-1</static_update_frequency>
        </plugin>
    </gazebo>
</robot>