<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com) 
Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="robot_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:if value="$(arg is_simulation)">
    <xacro:include filename="$(find robot_description)/urdf/gazebo.xacro" />
  </xacro:if>

  <!-- Include all the simiplified xacro files -->
  <xacro:include filename="$(find robot_description)/urdf/wheels.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/depth_camera.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/control.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/imu.xacro" />

  <link name="chassis">
    <inertial>
      <origin xyz="0.98327730139548 1.07151242977811 0.880681745018112" rpy="0 0 0" />
      <mass value="3.00191258390929" />
      <inertia ixx="0.239986102764044" ixy="0.00226006115800019" ixz="-0.0170449261569708"
              iyy="0.364192702183347" iyz="0.000410044367257076" izz="0.153655539258852" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/chassis.STL" />
      </geometry>
      <material name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/chassis.STL" />
      </geometry>
    </collision>
  </link>

  <link name="base_link">
  </link>

  <joint name="joint_chassis_to_base" type="fixed">
    <origin rpy="0 0 -1.57079633" xyz="0.98467 -1.02594 0.94417" />
    <parent link="chassis" />
    <child link="base_link" />
  </joint>

</robot>
